.titulos { 
    text-align: center;
}
.texto{
   
    text-align: center;
   
}
.pdf{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
}   